.input {
    width: 600px;
    height: 45px;
    margin: auto;
    font-size: inherit;
    padding: 0 58px 0 28px;
    border-radius: 30px;
    border: 1.3px solid #f2f2f2;
    outline: 0;
    box-shadow: 2px 4px 8px 0 rgba(44, 42, 42, 0.8);
    transition: all 300ms ease;
  }
  
  .container {
    border-radius: 5px;
    text-align: center;
    position: relative;
    margin-top: 10px;
  }
  
  .col75 {
    width: 100%;
    margin-top: 10px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout */
  @media screen and (max-width: 600px) {
    .col75 {
      width: 100%;
      margin-top: 0;
    }
  
    .input {
      width: 100%;
      margin-top: 0;
    }
  }
  