/* Contenedor principal */
.container {
  background-color: rgba(27, 23, 23, 0.884);
  color: #eeebeb;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding:55px;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Contenido principal */
.main {
  flex: 1;
  display: flex;
  flex-direction: column; /* Cambiado a fila */
  justify-content: flex-start; /* Alineación horizontal */
  overflow-x: auto; /* Permite el desplazamiento horizontal si el contenido es más ancho que la pantalla */
  padding: 10px;
}

/* Footer */
.footer {
  text-align: center;
  margin-top: 10px;
}
