.container {
  background-color: rgba(44, 42, 42, 0.8);
  color: #eeebeb;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Navigation links */
.navLinks {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  align-items: center;
  justify-content: space-between;
}

.link {
  padding: 10px 15px;
  font-size: 1.2rem;
  color: #e2e7ec;
  background-color: #007bffab;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s, text-decoration 0.3s;
}

.link:hover {
  background-color: #0056b3;
  color: #e0e0e0;
  text-decoration: underline;
}

