.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.pagination button {
  margin: 0 5px;
  padding: 10px 20px;
  border: none;
  background-color: #0071f3cb;
  color: white;
  cursor: pointer;
  border-radius: 12%;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.pageInput {
  width: 60px;
  padding: 5px;
  text-align: center;
  margin: 0 5px;
}
